.vscode/
*.sublime-project
*.sublime-workspace
sftp-config.json
.idea/
.idea_modules/
*.log
node_modules/
vendor/
!demo/application/logs/
demo/application/logs/*
!demo/application/cache/
demo/application/cache/*
!demo/application/session/
demo/application/session/*
demo/public/build/
!demo/public/upload/
demo/public/upload/*
demo/.env
!demo/.env.sample
__tests__/.env
!__tests__/.env.sample
!.gitkeep
.phpunit.result.cache