.vscode/
*.sublime-project
*.sublime-workspace
sftp-config.json
.idea/
.idea_modules/
*.log

node_modules/
vendor/

!sample/application/logs/
sample/application/logs/*
!sample/application/cache/
sample/application/cache/*
!sample/application/session/
sample/application/session/*
sample/public/build/
# !sample/public/upload/
# sample/public/upload/*
sample/.env
!sample/.env.sample

!.gitkeep