.vscode/
*.sublime-project
*.sublime-workspace
sftp-config.json
.idea/
.idea_modules/
*.log
node_modules/
vendor/
!sample/application/logs/
sample/application/logs/*
!sample/application/cache/
sample/application/cache/*
!sample/application/session/
sample/application/session/*
sample/public/build/
!sample/public/upload/
sample/public/upload/*
!sample/public/upload/1.png
!sample/public/upload/2.png
!sample/public/upload/3.png
!sample/public/upload/4.png
!sample/public/upload/5.png
!sample/public/upload/6.png
!sample/public/upload/7.png
!sample/public/upload/8.png
sample/.env
!sample/.env.sample
__tests__/.env
!__tests__/.env.sample
!.gitkeep
.phpunit.result.cache