{
    "description" : "The CodeIgniter Application with Composer",
    "require": {
        "php": "^7.0",
        "takuya-motoshima/codeigniter-extension": "dev-master"
    },
    "require-dev": {
        "phpunit/phpunit": "@stable"
    }
}
