{
  "description" : "The CodeIgniter Application with Composer",
  "require": {
    "php": "^8.0",
    "takuya-motoshima/codeigniter-extension": "dev-master",
    "vlucas/phpdotenv": "^5.3"
  },
  "require-dev": {
    "phpunit/phpunit": "@stable"
  }
}
