<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="__tests__/bootstrap.php"
  verbose="true"
  colors="true"
  printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
  <testsuites>
    <testsuite name="Validation">
      <file>__tests__/ValidationTest.php</file>
    </testsuite>
    <testsuite name="Image Helper">
      <file>__tests__/ImageHelperTest.php</file>
    </testsuite>
    <testsuite name="AWS Rekognition Client">
      <file>__tests__/AwsRekognitionClientTest.php</file>
    </testsuite>
    <testsuite name="File Helper">
      <file>__tests__/FileHelperTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>