<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  verbose="true"
  colors="true"
  printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
  <testsuites>
    <testsuite name="Sample">
      <file>tests/SampleTest.php</file>
    </testsuite>
    <testsuite name="Email Validation">
      <file>tests/EmailValidationTest.php</file>
    </testsuite>
    <testsuite name="Image Helper">
      <file>tests/ImageHelperTest.php</file>
    </testsuite>
    <testsuite name="AWS Rekognition Client">
      <file>tests/AwsRekognitionClientTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>