<!DOCTYPE html>
<html lang="en">
<head>
  <title>CodeIgniterExtensionTest - {{ (block('title')) ?? '' }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{{ cache_busting('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
  {% block style %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container justify-content-end">
      {% if user is not empty %}
        <label class="mx-4">{{ user.role }} / {{ user.id }}</label>
        <a href="{{ baseUrl }}doLogout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
      {% endif %}
    </div>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script>window.baseUrl='{{ baseUrl }}';</script>
  <script src="{{ cache_busting('node_modules/jquery/dist/jquery.min.js') }}"></script>
  {% block script %}{% endblock %}
</body>
</html>