<header class="navbar navbar-light bg-light flex-column flex-md-row">
  <div class="container justify-content-end">
    <button class="btn d-md-none p-0 mr-auto" type="button" data-toggle="collapse" data-target="#docs-nav">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg>
    </button>
    <label class="mx-4 mb-0 d-flex align-items-center"><i class="fas fa-user-circle fa-2x mr-1"></i> {{ user.username }}</label>
    <a href="{{ baseUrl }}api/user/signout" class="btn btn-outline-primary my-2 my-sm-0">Sign Out</a>
  </div>
</header>
