{% extends 'layout/default.html' %}
{% block title %}User Log{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{{cache_busting('/build/userlogs.css')}}">{% endblock %}
{% block script %}<script src="{{cache_busting('/build/userlogs.js')}}"></script>{% endblock %}
{% block content %}
<!--begin::Card-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header border-0 justify-content-end">
    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <div class="my-1">
        <select data-ref="usernameOptions" data-on-search-change class="form-select form-select-sm form-select-solid w-250px" data-control="select2" data-hide-search="true">
          <option value="" selected>All users</option>
          {% for option in usernameOptions %}
            <option value="{{option.name}}">{{option.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <!--end::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body py-0">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table data-ref="logTable" class="table align-middle table-row-dashed fs-6 gy-5">
        <!--begin::Thead-->
        <thead>
          <tr class="text-start text-gray-700 fw-bolder fs-7 gs-0 text-uppercase">
            <th>Date</th>
            <th>User Name</th>
            <th>IP</th>
            <th>Operation</th>
          </tr>
        </thead>
        <!--end::Thead-->
        <!--begin::Tbody-->
        <tbody class="fw-bolder text-gray-800"></tbody>
        <!--end::Tbody-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Card body-->
</div>
<!--end::Card-->
{% endblock %}