{% extends 'layout/default.html' %}
{% block title %}Dashboard{% endblock %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{{ cache_busting('/dashboard.css') }}">{% endblock %}
{% block scripts %}<script src="{{ cache_busting('/dashboard.js') }}" type="module"></script>{% endblock %}
{% block content %}
  {% include 'layout/navbar.html' %}
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      {% include 'layout/sidebar.html' %}
      <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 content" role="main">
        <h3 class="text-center">Content goes here!</h3>
      </main>
    </div>
  </div>
{% endblock %}